<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf='isDriver'>
      Driver name: {{driver.firstName}} {{driver.lastName}}
    </mat-panel-title>
    <mat-panel-title *ngIf='!isDriver'>
      Ride destination: {{ride.destinationLocation}}
    </mat-panel-title>
    <mat-panel-description *ngIf='isDriver'>
      Distance to pickup: {{driver.distancePickup}}
    </mat-panel-description>
    <mat-panel-description *ngIf='!isDriver'>
      Fare: {{ride.fare}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf='isDriver'>Location: {{driver.currentLocation}}</p>
  <button mat-raised-button (click)="onMap()" *ngIf='isDriver'>See on map</button>
  <button mat-raised-button (click)="onAssign()" *ngIf='isDriver'>Assign</button>
  <p *ngIf='!isDriver'>Pickup location: {{ride.pickupLocation}}</p>
  <button mat-raised-button (click)="onRequest()" *ngIf='!isDriver'>Request again</button>
</mat-expansion-panel>