<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Driver name: {{driver.firstName}} {{driver.lastName}}
    </mat-panel-title>
    <mat-panel-description>
      Distance to pickup: {{driver.distancePickup}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Location: {{driver.currentLocation}}</p>
  <button mat-raised-button (click)="onMap()">See on map</button>
  <button mat-raised-button (click)="onAssign()">Assign</button>
</mat-expansion-panel>