<mat-tab-group animationDuration="350ms" mat-align-tabs="left">
  <mat-tab label="Map">
    <div class="tab-container">
      <div class="input-container">
        <div class="container">
        </div>
      </div>
      <div class="container" *ngIf="isDriving==true || request==true">
        <div class="route-params">
          <p>Distance to pick up: {{distancePickup}}</p>
        </div>
        <div class="route-params">
          <p>ETA for pick up: {{ETAPickup}}</p>
        </div>
        <div class="route-params">
          <p>Distance to destination: {{distanceDestination}}</p>
        </div>
        <div class="route-params">
          <p>ETA for destination: {{ETADestination}}</p>
        </div>
        <div class="route-params">
          <p>Fare: {{fare}} rsd</p>
        </div>
      </div>
      <!-- <div class="request-container" *ngIf="request">
        <div class="route-params">
          <p>Distance to pick up: {{distancePickup}}</p>
        </div>
        <div class="route-params">
          <p>ETA for pick up: {{ETAPickup}}</p>
        </div>
        <div class="route-params">
          <p>Distance to destination: {{distanceDestination}}</p>
        </div>
        <div class="route-params">
          <p>ETA for destination: {{ETADestination}}</p>
        </div>
        <div class="route-params">
          <p>Fare: {{fare}} rsd</p>
        </div>
      </div> -->
      <div class="buttons-container">
        <button mat-raised-button (click)="acceptRide()" *ngIf="request">Accept</button>
        <button mat-raised-button (click)="rejectRide()" *ngIf="request">Reject</button>
        <button mat-raised-button (click)="arrive()" [disabled]="buttonArriveDisabled" *ngIf="isActive">Arrive to pick up location</button>
        <button mat-raised-button (click)="showOnMap()" *ngIf="!isActive">Show on map</button>
        <button mat-raised-button (click)="endRide()" [disabled]="buttonEndDisabled" *ngIf="isActive">End current ride</button>
        <button mat-raised-button (click)="cancelRide()" [disabled]="buttonCancelDisabled" *ngIf="isActive">Cancel current ride</button>
      </div>
      <map-component #mapView width="100%" height="67vh" lat="43.318058" lng="21.891996" zoom="15"
        (routeParams)="receiveRouteParams($event)"></map-component>
    </div>
  </mat-tab>
  <mat-tab label="History">

  </mat-tab>
  <mat-tab label="Recent rides">

  </mat-tab>
</mat-tab-group>