<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title *ngIf='isDriver'>
      Driver name: {{driver.firstName}} {{driver.lastName}}
    </mat-panel-title>
    <mat-panel-title *ngIf='!isDriver'>
      Ride destination: {{ride.destinationLocation}}
    </mat-panel-title>
    <mat-panel-description *ngIf='isDriver'>
      Distance to pickup: {{driver.distancePickup}}
    </mat-panel-description>
    <mat-panel-description *ngIf='!isDriver'>
      Fare: {{isFavourite ? fare : ride.fare}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf='isDriver'>Location: {{driver.currentLocation}}</p>
  <button mat-raised-button (click)="onMap()" *ngIf='isDriver'>See on map</button>
  <button mat-raised-button (click)="onAssign()" *ngIf='isDriver'>Assign</button>
  <p *ngIf='!isDriver'>Pickup location: {{isFavourite ? client.currentLocation : ride.pickupLocation}}</p>
  <p *ngIf='!isDriver'>Distance: {{isFavourite ? distance : ride.distance}}</p>
  <button mat-raised-button (click)="onRequest()" *ngIf='!isDriver || requestable'>Request again</button>
</mat-expansion-panel>

<map-component #mapView width="0%" height="0vh" lat="43.318266" lng="21.891813" zoom="15" (routeParams)="receiveRouteParams($event)"></map-component>